# Backend Express + Socket.IO
SERVER_PORT=3001
FRONTEND_URL=http://localhost:3000

# Frontend React
REACT_APP_SOCKET_URL=http://localhost:3001

#supabase postgres
REACT_APP_SUPABASE_URL=<SUBSTITUTE_SUPABASE_URL>
REACT_APP_SUPABASE_PUBLISHABLE_KEY=<SUBSTITUTE_SUPABASE_PUBLISHABLE_KEY>

DATABASE_URL=<SUBSTITUTE_DATABASE_URL>
DIRECT_URL=<SUBSTITUTE_DIRECT_URL>